.root {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
}
.root:hover {
  background-color: rgba(221, 221, 221, 0.8666666667);
}
.root_disabled {
  cursor: default;
}
.root_disabled:hover {
  background-color: transparent;
}
.root_size_s {
  padding: 10px;
}
.root_size_m {
  padding: 7px;
}
.root_size_l {
  width: 54px;
  height: 54px;
}
.root_size_logo {
  width: 67px;
  height: 58px;
  padding: 17px 16px 17px 27px;
}
.root_size_logo:hover {
  background-color: transparent;
}
.root_size_keyboard {
  width: 30px;
  height: 58px;
  padding: 22px 3px;
}
.root_size_keyboard:hover {
  background-color: transparent;
}
.root_size_arrow {
  width: 22px;
  height: 58px;
  padding: 26px 6px;
}
.root_size_arrow:hover {
  background-color: transparent;
}
.root_size_search {
  width: 62px;
  height: 58px;
  padding: 17px 27px 16px 10px;
}
.root_size_search:hover {
  background-color: transparent;
}
.root > .icon {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
}
.root > .icon_image {
  background-repeat: no-repeat;
  background-size: 444px 434px;
  background-color: transparent;
}
.root > .icon_size_s {
  width: 26px;
  height: 26px;
}
.root > .icon_size_m {
  width: 32px;
  height: 32px;
}
.root > .icon_size_l {
  width: 44px;
  height: 44px;
  margin: auto;
}
.root > .icon_size_xl {
  width: 48px;
  height: 48px;
}
.root > .icon_size_logo {
  width: 24px;
  height: 24px;
}
.root > .icon_size_search {
  width: 25px;
  height: 25px;
}
.root > .icon_size_keyboard {
  width: 24px;
  height: 14px;
}
.root > .icon_size_keyboard:hover {
  background-position: -270px -234px !important;
}
.root > .icon_size_arrow {
  width: 10px;
  height: 6px;
}