/* basic  */
$white: #fff;
$black: #000;

/* theme  */
$basic: #fff;
$bar: #303030;
$background: #f2f2f2;
$dark: #303030;
$metal: #c8c8c8;
$dark: #555658;
$screen: #f1f6f7;

/* font-theme */
$f-basic: #303030;
$f-reverse: #f2e9eb;
$f-white: #fff;
$f-black: #000;

/* situation  */
$error: #d32f2f;
$clear: #758ec6;
