html,
body,
div,
span,
object,
iframe,
p,
pre,
acronym,
address,
img,
small,
strong,
sub,
var,
center,
ol,
ul,
li,
form,
label,
article,
aside,
canvas,
details,
footer,
header,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  vertical-align: top;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

input {
  outline: none;
  box-sizing: border-box;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* basic  */
/* theme  */
/* font-theme */
/* situation  */
/* buttons */
/*practice-list components*/
.project-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 280px;
  height: 80%;
  background-color: #fff;
}
.project-list-container > h2 {
  font-size: 25px;
  font-weight: bold;
  color: #303030;
}
.project-list-container .project-list {
  width: 80%;
  height: 80%;
  background-color: transparent;
}
.project-list-container .project-list > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 220px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #303030;
  border-radius: 3px;
  background-color: #303030;
  border-color: #303030;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 12px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  box-sizing: border-box;
}
.project-list-container .project-list > li > span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  width: 80%;
  height: 100%;
  background-color: transparent;
}
.project-list-container .project-list > li > a {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-color: #fff;
  border-color: #fff;
  font-size: 14px;
  font-weight: bold;
  color: #303030;
  border: none;
  border-radius: 100%;
  padding: 3px;
  text-align: center;
  line-height: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
}
.project-list-container .project-list > li > a:hover {
  opacity: 90%;
}

/* header-nav-container */
.header-nav-container {
  width: 100%;
  height: 100%;
  background-color: inherit;
  display: grid;
  grid-template-columns: 5% 10% 70% 10% 5%;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.header-nav-container .header-navbar {
  grid-column: 3;
}
.header-nav-container .header-navbar .nav-menu .nav-item > a {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin: 0 10px;
}
.header-nav-container .header-navbar .nav-menu .nav-item > a:hover {
  opacity: 70%;
}
.header-nav-container .header-login {
  grid-column: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.header-nav-container .header-login > button {
  border: none;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  background-color: #fff;
}
.header-nav-container .header-login > button:hover {
  opacity: 90%;
}
.header-nav-container .header-login > button > img {
  width: 15px;
  height: 15px;
  background-color: inherit;
}

.practice-container {
  width: 70%;
  height: 80%;
  background-color: #fff;
  min-width: 300px;
  min-height: 100px;
  max-width: 800px;
  max-height: none;
}

.page-container {
  width: 100%;
  height: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 5px;
}
.page-container > .btn-container {
  flex: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.page-container > .btn-container > h4 {
  width: 180px;
  height: 20px;
  background-color: inherit;
}
.page-container > .btn-container > button {
  width: 100px;
  height: 30px;
  background-color: #303030;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border: none solid #303030;
  border-radius: 3px;
  cursor: pointer;
}
.page-container > .contents-container {
  flex: 92%;
  padding: 5px;
}

/* lifecoding scss */
.lf-container {
  width: 300px;
  height: 150px;
  border: 5px solid black;
  padding: 10px;
}
.lf-container > input {
  width: 50px;
  height: 30px;
  background-color: #303030;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border: none solid #303030;
  border-radius: 3px;
  cursor: pointer;
}

.body-container {
  display: grid;
  grid-template-areas: ". header ." ". body ." ". footer .";
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 0 100% 0;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.body-container header {
  grid-area: header;
}
.body-container header .nav-menu {
  width: 100%;
  height: 50px;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.body-container header .nav-menu .nav-item {
  padding: 5px;
}
.body-container main {
  grid-area: body;
}
.body-container footer {
  grid-area: footer;
}
.body-container .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: #303030;
  color: #000;
}
.body-container main.container {
  background-color: #f2f2f2;
  color: #000;
}/*# sourceMappingURL=main.css.map */